<form action='' method="POST">
    <!-- <p>question_text <input type="text" name="question_text" value="{{question.question_text}}" /></p>
    <p>answer <input type="text" name="answer" value="{{question.answer}}" /></p> -->
    <p>question label <input type="text" name="question_label" /></p>
    <p>question text <input type="text" name="question_text" /></p>
    <p>answer <input type="text" name="answer" /></p>
    <p>options <input type="text" name="options" /></p>
    <p>option1 <input type="text" name="options1" /></p>
    <p>option2 <input type="text" name="options2" /></p>
    <p>option3 <input type="text" name="options3" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>